    <!-- Main content-->
    <section class="content">
        <div class="container-center lg animated slideInDown">
            <div class="inner-container">

                <div class="view-header">
                    <div class="header-title">
                        <h1>Crear Cuenta</h1>
                        <small>
                            Por favor ingrese sus datos para su registro.
                        </small>
                    </div>
                </div>

                <div class="panel panel-filled">
                    <div class="panel-body">
                        <form action="http://webapplayers.com/luna_admin-v1.1/index.html" id="loginForm" novalidate>
                            
                            <div class="form-group">
                                <div class="form-registro">
                                    <div>
                                        <span class="span-izquierda">Usuario </span>
                                    </div>
                                    <div class="division"></div>
                                    <input class="span-derecha" type="" id="username" placeholder="Ingrese su usuario"> 
                                </div>
                                <div class="form-registro">
                                    <div>
                                        <span class="span-izquierda">Email </span>
                                    </div>
                                    <div class="division"></div>
                                    <input class="span-derecha" type="email" id="email" placeholder="Ingrese su correo de contacto"> 
                                </div>

                                <div class="form-registro">
                                    <div>
                                        <span class="span-izquierda">Contraseña </span>
                                    </div>
                                    <div class="division"></div>
                                    <input class="span-derecha" type="password" id="password" placeholder="Ingrese su contraseña"> 
                                </div>

                                <div class="form-registro">
                                    <div>
                                        <span class="span-izquierda">Repetir Contraseña </span>
                                    </div>
                                    <div class="division"></div>
                                    <input class="span-derecha" type="password" id="repeatpassword" placeholder="Por favor repita su contraseña"> 
                                </div>
                                
                            </div>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btnstart" routerLink="/" >Registrarse</button>
                                <div class="header-title">
                                    <h5>¿Ya tienes una cuenta?</h5>
                                    <h5><a class="" routerLink="/">Iniciar cuenta</a></h5>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End main content-->

