.nav-header {
    background-color: rgba(107, 215, 200, 0.838);
    height: 50px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-header h1 {
    margin: 0; /* Elimina el margen superior e inferior del título "IDEAL ROOM" */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-header a {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del enlace */
    color: #fff;
    font-family: sans-serif;
    font-size: 15px; /* Establece el tamaño de fuente en 34px */
    text-decoration: none;
    font-weight: lighter;
    margin-right: 20px; /* Añade margen a la derecha del enlace */
}

.nav-header img {
    width: 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
    border-radius: 50%; /* Aplica un borde redondeado a la imagen si es necesario */
    margin-left: 5px; /* Añade margen a la izquierda de la imagen */
}

.side-bar{
    margin-top: 50px;
    width: 70px; /* Ancho inicial del aside */
    height: 100%;
    background-color: #333;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width 0.3s; /* Agrega una transición de ancho para la animación */
    overflow-x: hidden; /* Evita que el contenido desborde horizontalmente al contraerse */
}

.inside-aside{
    margin-top: 10px;
}
.opciones {
    margin-bottom: 10px;
    text-align: center;
}
/* .navigation {
    margin-top: 60px;
    background-color: #24262d;
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    transition: left 0.3s ease-out;
    -webkit-transition: left 0.3s ease-out;
} */